body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

#border-head {
    border-left: 4px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;

}

.flex-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
    padding-right: 8%;
    text-align: justify;

}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.mission-head {
    text-align: center;
}

.mission {
    width: 80%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px gray;
    text-align: center;

}

.mission p {
    text-align: justify;
}

#m-1 {
    background-color: burlywood;
}

#m-2 {
    background-color: darksalmon;
}

#m-3 {
    background-color: palegoldenrod;
}

.mission img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.footer-content {
    height: auto;
    padding-top: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: black;

}